// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	font-family: 'Helvetica', sans-serif;
}

h1, h2, p {
	padding-left: 2vw;
}

footer {
	background: black;
	color: white;
	height: 100vh;
	padding-left: 2vw;
	padding-top: 2vw; 
}

body {
	margin-top: 51px;
}
