<% if signed_in? %>
  <h5>Add a review:</h5>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
    <p class="user-text-area">
      <%= f.text_area :body %>
    </p>
    <p>
      <div class="rating"></div>
    </p>  
    <p>
      <%= f.submit "Submit" %>
    </p>
  <% end %>
<% end %>